@model List<UsersViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["CmsTitle"] = "Kullanıcılar";
}
@section Styles {
    <link href="~/panel/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="~/panel/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <table id="example" class="table dt-responsive nowrap w-100" width="100%">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Kullanıcı Adı</th>
                        <th>Ofis Adı</th>
                        <th>Ofis Domain</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UsersViewModel User in Model)
                    {
                        <tr>
                            <td>@User.Name</td>
                            <td>@User.Surname</td>
                            <td>@User.Email</td>
                            <td>@User.CompanyName</td>
                            <td>@User.CompanyDomain</td>
                            <td><a data-bs-toggle="modal" data-bs-target="#userEdit" data-id="@User.Id" data-name="@User.Name" data-surname="@User.Surname" data-email="@User.Email" class="btn btn-primary userEdit">Kullanıcı Düzenle</a> <a data-bs-toggle="modal" data-bs-target="#officeEdit" data-id="@User.CompanyId" data-officeName="@User.CompanyName" data-officeDomain="@User.CompanyDomain" class="btn btn-primary officeEdit">Ofis Düzenle</a> <a href="/admin/user/delete/@User.CompanyId" onclick="return confirm('İlgili kayıt silinsin mi ?');" class="btn btn-danger">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="userEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Kullanıcı Düzenle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/user/edit" method="post">

                    <input type="text" name="id" id="id" hidden>
                    <div class="form-group">
                        <label for="name">Adı</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="surname">Soyadı</label>
                        <input type="text" id="surname" name="surname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Kullanıcı Adı</label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Şifre</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Şifre giriniz..">
                            <div class="input-group-append" data-password="false">
                                <div class="input-group-text">
                                    <span class="password-eye"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <input type="submit" value="Kullanıcı Düzenle" class="btn btn-primary btn-block">
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="officeEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Ofis Düzenle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/user/companyedit" method="post">

                    <input type="text" name="CompanyId" id="CompanyId" hidden>
                    <div class="form-group">
                        <label for="CompanyName">Ofis Adı</label>
                        <input type="text" id="CompanyName" name="CompanyName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="CompanyDomain">Ofis Domain</label>
                        <input type="text" id="CompanyDomain" name="CompanyDomain" class="form-control">
                    </div>
                    <hr />
                    <input type="submit" value="Ofis Düzenle" class="btn btn-primary btn-block">
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts {
    <script src="~/panel/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/panel/assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="~/panel/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/panel/assets/js/vendor/responsive.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        $(".userEdit").click(function () {
            var dataId = $(this).attr('data-id');
            var dataName = $(this).attr('data-name');
            var dataSurname = $(this).attr('data-surname');
            var dataEmail = $(this).attr('data-email');

            $('#id').val(dataId);
            $("#name").val(dataName);
            $("#surname").val(dataSurname);
            $("#email").val(dataEmail);
        });
        $(".officeEdit").click(function () {
            var dataId = $(this).attr('data-id');
            var dataOfficeName = $(this).attr('data-OfficeName');
            var dataOfficeDomain = $(this).attr('data-OfficeDomain');

            $('#CompanyId').val(dataId);
            $("#CompanyName").val(dataOfficeName);
            $("#CompanyDomain").val(dataOfficeDomain);
        });
    </script>
}