@model SettingsModel
<div class="toolbar-area hidden-md" style="background: @Model.SiteColor !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="toolbar-contact">
                    <ul>
                        <li><i class="flaticon-email"></i><a href="mailto:@Model.Email">@Model.Email</a></li>
                        <li><i class="flaticon-call"></i><a href="tel:@Model.Phone">@Model.Phone</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="toolbar-sl-share">
                    <ul>
                        <li><a href="@Model.Facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="@Model.Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="@Model.Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="@Model.Linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="rs-header" class="rs-header">
    <div class="menu-area menu-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="logo-area">
                        <a href="/"><img src="/uploads/@Model.DarkLogo" alt="logo" style="max-height:40px; height:40px;"></a>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <div class="rs-menu-area">
                        <div class="main-menu">
                            <div class="mobile-menu">
                                <a class="rs-menu-toggle" style="color: @Model.SiteColor !important;">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                            <nav class="rs-menu pr-65">
                                <ul class="nav-menu">
                                    <li>
                                        <a href="/">Açık Pozisyonlar</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Bize Ulaşın</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>