@model List<SettingsViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["CmsTitle"] = "Site Ayarları";
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/css/bootstrap-colorpicker.css" integrity="sha512-HcfKB3Y0Dvf+k1XOwAD6d0LXRFpCnwsapllBQIvvLtO2KMTa0nI5MtuTv3DuawpsiA0ztTeu690DnMux/SuXJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form action="/admin/settings/index" method="post" enctype="multipart/form-data">
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="title">Site Başlığı</label>
                    <input class="form-control" type="text" value="@Model[0].title" name="title" id="title" placeholder="Site Başlığı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="keywords">Site Anahtar Kelimeleri</label>
                    <input class="form-control" type="text" value="@Model[0].keywords" name="keywords" id="keywords" placeholder="Site Anahtar Kelime">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="description">Site Açıklama</label>
                    <input class="form-control" type="text" value="@Model[0].description" name="description" id="description" placeholder="Site Açıklama">
                </div>
                <hr />
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="siteColor">Site Renk</label>
                    <input id="siteColor" name="siteColor" type="text" class="form-control" value="@Model[0].siteColor" />
                </div>
                <hr />
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="phone">Email</label>
                    <input class="form-control" type="text" value="@Model[0].email" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="jobDescription">Telefon</label>
                    <input class="form-control" type="text" value="@Model[0].phone" name="phone" id="phone" placeholder="Telefon">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="adress">Adres</label>
                    <input class="form-control" type="text" value="@Model[0].adress" name="adress" id="adress" placeholder="Adres">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="facebook">Facebook Adresi</label>
                    <input class="form-control" type="text" value="@Model[0].facebook" name="facebook" id="facebook" placeholder="Facebook Adresi">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="instagram">Instagram Adresi</label>
                    <input class="form-control" type="text" value="@Model[0].instagram" name="instagram" id="instagram" placeholder="Instagram Adresi">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="twitter">Twitter Adresi</label>
                    <input class="form-control" type="text" value="@Model[0].twitter" name="twitter" id="twitter" placeholder="Twitter Adresi">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="linkedin">Linkedin Adresi</label>
                    <input class="form-control" type="text" value="@Model[0].linkedin" name="linkedin" id="linkedin" placeholder="Linkedin Adresi">
                </div>
                <hr />
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="smtpServer">SMTP Sunucusu</label>
                    <input class="form-control" type="text" value="@Model[0].smtpServer" name="smtpServer" id="smtpServer" placeholder="SMTP Sunucusu">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="smtpUsername">SMTP Kullanıcı Adı</label>
                    <input class="form-control" type="text" value="@Model[0].smtpUsername" name="smtpUsername" id="smtpUsername" placeholder="SMTP Kullanıcı Adı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="smtpPassword">SMTP Şifresi</label>
                    <input class="form-control" type="text" value="@Model[0].smtpPassword" name="smtpPassword" id="smtpPassword" placeholder="SMTP Şifresi">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="smtpPort">SMTP Port</label>
                    <input class="form-control" type="text" value="@Model[0].smtpPort" name="smtpPort" id="smtpPort" placeholder="SMTP Port">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="useSSL" id="useSSL" @(Model[0].useSSL == "true" ? "checked" : "")>
                    <label class="form-check-label" for="useSSL">
                        SSL
                    </label>
                </div>
                <hr />
                <div class="form-group">
                    <label for="logo">Site Logo</label>
                    <input type="file" class="form-control-file" id="logo" name="logo">
                </div>
                <br />
                <button type="submit" class="btn btn-danger w-100">Ayarları Kaydet</button>
            </form>

        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/js/bootstrap-colorpicker.min.js" integrity="sha512-94dgCw8xWrVcgkmOc2fwKjO4dqy/X3q7IjFru6MHJKeaAzCvhkVtOS6S+co+RbcZvvPBngLzuVMApmxkuWZGwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(function () {
            $('#siteColor').colorpicker();
        });
    </script>
}