@{
    ViewData["Title"] = Localizer.Get("contactus_breadcrumb_title");
    ViewData["BreadcrumbTitle"] = Localizer.Get("contactus_breadcrumb_title");
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["successMessage"]
    </div>
}
@if (TempData["dangerMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["dangerMessage"]
    </div>
}


<div class="container">
    <div class="text-center">
        <h3>@Localizer.Get("contactus_title")</h3>
    </div>
    <div class="form-box pl-2">
        <form action="/contact" method="post">
            <div class="form-group">
                <label for="Name">@Localizer.Get("contactus_name")</label>
                <input class="form-control" id="Name" name="Name" type="text" required>
            </div>
            <div class="form-group">
                <label for="Email">@Localizer.Get("contactus_email")</label>
                <input class="form-control" id="Email" name="Email" type="email" required>
            </div>
            <div class="form-group">
                <label for="Phone">@Localizer.Get("contactus_phone")</label>
                <input class="form-control" id="Phone" name="Phone" type="text" placeholder="05XXXXXXXXX" required>
            </div>
            <div class="form-group">
                <label for="Subject">@Localizer.Get("contactus_subject")</label>
                <input class="form-control" id="Subject" name="Subject" type="text" required>
            </div>
            <div class="form-group">
                <label for="Message">@Localizer.Get("contactus_message")</label>
                <textarea class="form-control" id="Message" name="Message" required></textarea>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <img style="display: inline-block; width: 180px; height: 50px; " id="imgCaptcha" src="/argeya-captcha?@DateTime.Now.ToString("ddMMyyyyHHmmsss")" />
                <a class="btn btn-sm small gray" style="display: inline-block; padding: 8px; cursor: pointer; vertical-align: top; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"]; color: #fff !important; text-decoration: none;" onclick="var today = new Date(); document.getElementById('imgCaptcha').src = '/argeya-captcha?r=' + today; return false;">
                    <i class="fa fa-refresh" aria-hidden="true" style="font-size: 30px;"></i>
                </a>
                <input type="text" name="captcha" id="captcha" required/>
            </div>
            <div class="container align-items-center">
                <input class="btn btn-primary btn-block btn-lg active" style="background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" type="submit" value="@Localizer.Get("contactus_submit")" />
            </div>
        </form>
    </div>
</div>