@model List<JobsViewModel>

@{
    ViewData["Title"] = Localizer.Get("job_breadcrumb_title");
    ViewData["BreadcrumbTitle"] = Localizer.Get("job_breadcrumb_title");
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["successMessage"]
    </div>
}
@if (TempData["dangerMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["dangerMessage"]
    </div>
}

<section class="tools">
    <div class="container">
        <div class="t-row">
            <div class="d-table-cell">
                <a class="btn btn-primary" style="margin-top:25px; margin-bottom:25px; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" href="/@Context.Request.RouteValues["culture"]" title="@Localizer.Get("job_applicant_back")">
                    <span style="line-height: 12px; font-size: 20px;">&#x2190;</span> @Localizer.Get("job_applicant_back")
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container shadow-sm p-3 mb--20 bg-body rounded">
    <div class="title text-center">
        <h1>@Localizer.Get("job_applicant_title")</h1>
        <p>
            @Localizer.Get("job_applicant_desc")
        </p>
    </div>
    <div class="job-apply-form">
        <form action="/Job/Applicant" method="post" enctype="multipart/form-data">
            <input type="text" name="jobId" id="jobId" value="@Model[0].Id" hidden />
            <div class="form-group" style="margin-bottom:10px;">
                <label for="Title"><b>@Localizer.Get("job_form_apply")</b></label>
                <input type="text" name="Title" class="form-control" value="@Model[0].JobTitle" disabled>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="FullName"><b>@Localizer.Get("job_form_fullname")</b></label>
                <input name="FullName" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Phone"><b>@Localizer.Get("job_form_phone")</b></label>
                <input name="Phone" class="form-control" placeholder="05XXXXXXXXX" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Email"><b>@Localizer.Get("job_form_email")</b></label>
                <input type="email" name="Email" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="Gender"><b>@Localizer.Get("job_form_gender")</b></label>
                <select name="Gender" class="form-control" required>
                    <option value="">@Localizer.Get("gender_nonselected")</option>
                    <option value="Belirtilmemiş">@Localizer.Get("gender_nonspecify")</option>
                    <option value="Erkek">@Localizer.Get("gender_male")</option>
                    <option value="Kadın">@Localizer.Get("gender_female")</option>
                </select>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="University"><b>@Localizer.Get("job_form_university")</b></label>
                <input name="University" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Faculty"><b>@Localizer.Get("job_form_faculty")</b></label>
                <input name="Faculty" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Resume"><b>@Localizer.Get("job_form_resume")</b></label>
                <textarea name="Resume" class="form-control" required></textarea>
            </div>
            <div class="d-flex flex-lg-row">
                <div class="form-group mr-auto p-2" style="margin-bottom:10px;">
                    <label for="FormFile"><b>@Localizer.Get("job_form_upload")</b></label>
                    <input type="file" class="form-control-file" name="FormFile" accept="application/pdf" required>
                </div>
                <div class="form-group p-2" style="margin-bottom:10px;">
                    <img style="display: inline-block; width: 180px; height: 50px; " id="imgCaptcha" src="/argeya-captcha?@DateTime.Now.ToString("ddMMyyyyHHmmsss")" />
                    <a class="btn btn-sm small gray" style="display: inline-block; padding: 8px; cursor: pointer; vertical-align: top; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"]; color: #fff !important; text-decoration: none;" onclick="var today = new Date(); document.getElementById('imgCaptcha').src = '/argeya-captcha?r=' + today; return false;">
                        <i class="fa fa-refresh" aria-hidden="true" style="font-size: 30px;"></i>
                    </a>
                    <input type="text" name="captcha" id="captcha" required />
                </div>
            </div>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary btn-lg active w-50" style="background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];">Başvur</button>
            </div>
        </form>
    </div>
</div>