@model ApplyModel
@{
    ViewData["Title"] = Localizer.Get("job_internshipbreadcrumb_title");
    ViewData["BreadcrumbTitle"] = Localizer.Get("job_internshipbreadcrumb_title");
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["successMessage"]
    </div>
}
@if (TempData["dangerMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["dangerMessage"]
    </div>
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<section class="tools">
    <div class="container">
        <div class="t-row">
            <div class="d-table-cell">
                <a class="btn btn-primary" style="margin-top:25px; margin-bottom:25px; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" href="/" title="Geri">
                    <span style="line-height: 12px; font-size: 20px;">&#x2190;</span> @Localizer.Get("job_applicant_back")
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container shadow-sm mb--5 p-3 rounded bg-body">
    <div class="title text-center">
        <h1>@Localizer.Get("job_internship_title")</h1>
        <p>
            @Localizer.Get("job_internship_desc")
        </p>
    </div>
    <div class="job-apply-form">
        <form action="/Job/Intern" method="post" enctype="multipart/form-data">
            <div class="form-group" style="margin-bottom:10px;">
                <label name="FullName"><b>@Localizer.Get("job_form_fullname")</b></label>
                <input name="FullName" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Phone"><b>@Localizer.Get("job_form_phone")</b></label>
                <input name="Phone" class="form-control" required placeholder="05XXXXXXXXX">
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Email"><b>@Localizer.Get("job_form_email")</b></label>
                <input type="email" name="Email" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label><b>@Localizer.Get("job_form_gender")</b></label>
                <select name="Gender" class="form-control" required>
                    <option value="">@Localizer.Get("gender_nonselected")</option>
                    <option value="Belirtilmemiş">@Localizer.Get("gender_nonspecify")</option>
                    <option value="Erkek">@Localizer.Get("gender_male")</option>
                    <option value="Kadın">@Localizer.Get("gender_female")</option>
                </select>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="University"><b>@Localizer.Get("job_form_university")</b></label>
                <input name="University" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Faculty"><b>@Localizer.Get("job_form_faculty")</b></label>
                <input name="Faculty" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="InternStartDate"><b>@Localizer.Get("job_internship_start")</b></label>
                <input class="form-control" id="InternStartDate" name="InternStartDate" autocomplete="off" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="InternEndDate"><b>@Localizer.Get("job_internship_end")</b></label>
                <input class="form-control" id="InternEndDate" name="InternEndDate" autocomplete="off" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Resume"><b>@Localizer.Get("job_form_resume")</b></label>
                <textarea name="Resume" class="form-control" required></textarea>
            </div>
            <div class="d-flex flex-row">
                <div class="form-group mr-auto p-2" style="margin-bottom:10px;">
                    <label for="FormFile"><b>@Localizer.Get("job_form_upload")</b></label>
                    <input type="file" class="form-control-file" name="FormFile" accept="application/pdf" required>
                </div>
                <div class="form-group p-2" style="margin-bottom:10px;">
                    <img style="display: inline-block; width: 180px; height: 50px; " id="imgCaptcha" src="/argeya-captcha?@DateTime.Now.ToString("ddMMyyyyHHmmsss")" />
                    <a class="btn btn-sm small gray" style="display: inline-block; padding: 8px; cursor: pointer; vertical-align: top; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"]; color: #fff !important; text-decoration: none;" onclick="var today = new Date(); document.getElementById('imgCaptcha').src = '/argeya-captcha?r=' + today; return false;">
                        <i class="fa fa-refresh" aria-hidden="true" style="font-size: 30px;"></i>
                    </a>
                    <input type="text" name="captcha" id="captcha" required />
                </div>
            </div>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary btn-lg active w-50" style="background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];">@Localizer.Get("job_form_submit")</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {

            $(function () {
                $("#InternStartDate").datepicker({
                    minDate: 0,
                    dateFormat: 'dd.mm.yy',
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"]
                });
                $("#InternEndDate").datepicker({
                    minDate: 0,
                    dateFormat: 'dd.mm.yy',
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"]
                });

                $('#InternStartDate').change(function () {
                    startDate = $(this).datepicker('getDate');
                    $("#internEndDate").datepicker("option", "minDate", startDate);
                });
                $('#InternEndDate').change(function () {
                    endDate = $(this).datepicker('getDate');
                    $("#internStartDate").datepicker("option", "maxDate", endDate);
                });
            });
        })
    </script>

}