@model SettingsModel
<div class="container">
    <div class="footer-newsletter">
        <div class="row y-middle">
            <div class="col-md-6 sm-mb-26">
                <h3 class="title white-color mb-0">Mail Aboneliği</h3>
            </div>
            <div class="col-md-6 text-right">
                <form class="newsletter-form" action="/mailsubscribe" method="post">
                    <input type="email" name="email" placeholder="E-Mail Adresiniz" required="">
                    <button type="submit" style="background-color:@Model.SiteColor"><i class="fa fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-content pt-62 pb-79 md-pb-64 sm-pt-48">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 footer-widget md-mb-39">
                <div class="about-widget pr-15">
                    <div class="logo-part">
                        <a href="/"><img src="/uploads/images/@Model.DarkLogo" alt="Footer Logo"></a>
                    </div>
                    <p class="desc">@Model.Description</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 md-mb-32 footer-widget">
                <h4 class="widget-title">İletişim</h4>
                <ul class="address-widget pr-40">
                    <li>
                        <i class="flaticon-location" style="color:@Model.SiteColor"></i>
                        <div class="desc">@Model.Adress</div>
                    </li>
                    <li>
                        <i class="flaticon-call" style="color:@Model.SiteColor"></i>
                        <div class="desc">
                            <a href="tel:@Model.Phone">@Model.Phone</a>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-email" style="color:@Model.SiteColor"></i>
                        <div class="desc">
                            <a href="mailto:@Model.Email">@Model.Email</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="row y-middle">
            <div class="col-lg-6 col-md-8 sm-mb-21">
                <div class="copyright">
                    <p>© Copyright 2022 Argeya. All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 text-right sm-text-center">
                <ul class="footer-social">
                    <li><a href="@Model.Facebook" style="background-color:@Model.SiteColor" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="@Model.Instagram" style="background-color:@Model.SiteColor" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="@Model.Twitter" style="background-color:@Model.SiteColor" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="@Model.Linkedin" style="background-color:@Model.SiteColor" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="scrollUp">
    <i class="fa fa-angle-up" style="background-color:@Model.SiteColor"></i>
</div>
